network:
   version: 2
   renderer: NetworkManager
   ethernets:
        id0:
           match:
              name: {{ interface }}
           dhcp4: true
           addresses:
                - {{ ip_with_subnet }}
           nameservers:
              addresses:
                - {{ ipadr }}
           routes:
           - to: default
             via: {{ ipadr }}
